:root {
  --heading-font: 'Dosis', sans-serif;
  --heading-font-color: #fff;
  --btn-color: #1a5563;
  --dark-red: #8d1731;
  --white: #fff;
  --gap: 10px;
  --font-weight: 600;
  --font-size-basic: 18px;
  --font-size-h: 38px;
  --radius: 7px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration-style: dotted;
  color: var(--dark-red);
}

body {
  background-image: url('rijks_background.jpg'); 
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: var(--font-size-basic);
  line-height: 1.6;
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--white);
  font-size: 18px;
  text-decoration: none;
  padding: var(--gap);
  border-radius: 50%;
  width: auto;
  transition: all 0.2s ease-in-out;
  margin: var(--gap);
  position: relative;
}

.btn-primary {
  background-color: transparent;
  color: var(--white);
  border: 2px solid #ddd; /* Add a grey border */
  border-radius: var(--radius);
  width: 200px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--btn-color);
  transition-duration: 0.7s opacity;
  cursor: pointer;
  opacity: 0.9;
}

h1 {
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: var(--font-weight);
  color: var(--white);
  padding-left: var(--gap);
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--font-size-h);
  font-weight: var(--font-weight);
  color: var(--white);
  margin: 70px auto;
  max-width: 400px;
  background: var(--dark-red);
  opacity: 0.8;
  
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--font-size-basic);
  font-weight: var(--font-weight);
}

header {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

img {
  width: 100%;
}

@media all and (max-width: 450px) {
  body {
    font-size: 15px;
  }

  button{
    font-size: 16px;
  }

  h1 {
    font-size: var(--font-size-h);
  }

  #query {
    font-size: 14px;
  }
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
}

.modal {
  margin: auto;
  background-color: var(--white);
  display: inline-flexbox;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  max-width: 630px;
  text-align: center;
}

.modal-close {
  float: right;
  border: 0;
  border-radius: var(--radius);
  background: var(--btn-color);
  transition: 0.3s;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  font-family: var(--heading-font);
  width: 150px;
  box-shadow: 4px 3px 20px grey;
  margin: 15px;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  background-color: var(--dark-red);
}

.modal-close:active {
  box-shadow: none;
}

.modal h3 p {
  font: italic 500 14px 'Source Sans Pro', sans-serif;
  background: transparent;
}

.modal p {
  padding: var(--gap);
  margin: var(--gap);
  background: #e8ecec;
  border-radius: var(--radius);
  text-align: left;
}

span {
  font-style: italic;
}

.thumb {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: none;
  background-size: cover;
  background-position: center center;
  background-color: var(--white);
}

.thumb:hover,
.thumb:focus,
#thumb-w-bg:hover,
#thumb-w-bg:focus {
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}

#thumb-w-bg {
  background-image: url('thumb_bg.jpg');
  background-size: cover;
  opacity: 0.5;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: none;
}

.title {
  position: absolute;
  top: 35%;
  left: 4%;
  right: 4%;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-size: 16px;
  transform: translate(0px, -200px);
  transition: all 0.2s ease-in-out;
}

button:hover .title,
button:focus .title {
  cursor: pointer;
  visibility: visible;
  opacity: 0.8;
  transform: translate(0px, 0px);
}

button:hover .title h3, 
button:focus .title h3 {
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0px var(--gap);
}

button:hover .title p,
button:focus .title p {
  transition-delay: 0.3s;
  font-style: italic;
}

#query {
  width: 280px;
  opacity: 0.9;
  margin-bottom: var(--gap);
  font-size: 16px;
  padding: var(--gap)
}
